spring:
  application:
    name: ratingmicroservice
  data:
    mongodb:
      uri: ${MONGO_URI}
#      host: ${DB_HOST}
#      port: ${DB_PORT}
#      database: ${DB_NAME}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: ${MAIL_HOST}

server:
  port: ${SERVER_PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

app:
  base-url: ${BASE_URL}:${SERVER_PORT}/api/auth